In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',False)
pd.set_option('precision',2)

In [2]:
df = pd.read_csv('jakarta_houseprice.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15825 entries, 0 to 15824
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        15825 non-null  int64
 1   Unnamed: 0.1      15825 non-null  int64
 2   bathrooms         15823 non-null  float64
 3   bedrooms          15823 non-null  float64
 4   building_size     15825 non-null  float64
 5   deskripsi         15822 non-null  object
 6   fasilitas         15825 non-null  object
 7   land_size         15823 non-null  float64
 8   lb                15016 non-null  float64
 9   lokasi            15380 non-null  object
 10  lt                12084 non-null  float64
 11  price             15780 non-null  object
 12  car_spaces        15808 non-null  float64
 13  floors_total      15817 non-null  float64
 14  price_conditions  15602 non-null  object
 15  year_built        15604 non-null  float64
 16  empty             15611 non-null  object
 17  rooms_total       15782 non-null  float64
 18  maidbathrooms     15729 non-null  float64
 19  maidrooms         15778 non-null  float64
 20  floor             14381 non-null  object
 21  deposit           11289 non-null  float64
 22  electricity       15066 non-null  float64
 23  terdekat          2999 non-null   object
dtypes: float64(14), int64(2), object(8)
memory usage: 2.9+ MB

In [4]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis = 1)

In [5]:
df = df.drop_duplicates(subset = 'deskripsi')

In [6]:
df = df.dropna(how = 'all')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13869 entries, 0 to 15824
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         13869 non-null  float64
 1   bedrooms          13869 non-null  float64
 2   building_size     13869 non-null  float64
 3   deskripsi         13868 non-null  object
 4   fasilitas         13869 non-null  object
 5   land_size         13867 non-null  float64
 6   lb                13146 non-null  float64
 7   lokasi            13500 non-null  object
 8   lt                10586 non-null  float64
 9   price             13844 non-null  object
 10  car_spaces        13862 non-null  float64
 11  floors_total      13861 non-null  float64
 12  price_conditions  13677 non-null  object
 13  year_built        13718 non-null  float64
 14  empty             13674 non-null  object
 15  rooms_total       13828 non-null  float64
 16  maidbathrooms     13778 non-null  float64
 17  maidrooms         13826 non-null  float64
 18  floor             13015 non-null  object
 19  deposit           10486 non-null  float64
 20  electricity       13417 non-null  float64
 21  terdekat          2733 non-null   object
dtypes: float64(14), object(8)
memory usage: 2.4+ MB

In [8]:
df = df.dropna(subset = ['price'])
df['price']=df[df['price']!='agen']['price'].apply(lambda x: int(x.replace('.','')))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13844 entries, 0 to 15824
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         13844 non-null  float64
 1   bedrooms          13844 non-null  float64
 2   building_size     13844 non-null  float64
 3   deskripsi         13843 non-null  object
 4   fasilitas         13844 non-null  object
 5   land_size         13842 non-null  float64
 6   lb                13129 non-null  float64
 7   lokasi            13475 non-null  object
 8   lt                10576 non-null  float64
 9   price             13833 non-null  float64
 10  car_spaces        13837 non-null  float64
 11  floors_total      13836 non-null  float64
 12  price_conditions  13652 non-null  object
 13  year_built        13693 non-null  float64
 14  empty             13649 non-null  object
 15  rooms_total       13803 non-null  float64
 16  maidbathrooms     13753 non-null  float64
 17  maidrooms         13801 non-null  float64
 18  floor             12991 non-null  object
 19  deposit           10465 non-null  float64
 20  electricity       13394 non-null  float64
 21  terdekat          2733 non-null   object
dtypes: float64(15), object(7)
memory usage: 2.4+ MB

In [10]:
def garasi(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['garasi_desc'] = df_copy['deskripsi'].apply(
        lambda x:0 if ('tidak ada garasi' in x) else 1 if ('carport' in x) or ('garasi' in x) \
        else 0
    )
    df_copy['car_spaces'] = df_copy['car_spaces'].fillna(0)
    df_copy['ada_garasi'] = np.where((df_copy['garasi_desc'] > 0),
                                     1,np.where(df_copy['car_spaces'] > 0 ,1 ,0)
                                    )
    
    return df_copy.drop('garasi_desc',axis=1)

In [11]:
def apartemen(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['apartemen'] = df_copy['deskripsi'].apply(lambda x:1 if ('apartement' in x)\
                                                       or ('apartemen' in x) \
                                                      or ('apt' in x) else 0)
    return df_copy

In [12]:
def taman(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['taman'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('taman' in x) or ('garden' in x) or ('pekarangan' in x) else 0
    )
    return df_copy

In [13]:
def pool(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['pool'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('pool' in x) or ('kolam renang' in x) else 0
    )
    return df_copy

In [14]:
def shm(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['shm'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('shm' in x) or ('sertifikat hak milik' in x) else 0
    )
    return df_copy

In [15]:
def imb(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['imb'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('imb' in x) or ('mendirikan bangunan' in x) else 0
    )
    return df_copy

In [16]:
def hgb(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['hgb'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('hgb' in x) or ('hak guna bangunan' in x) or  ('shgb' in x) else 0
    )
    return df_copy

In [17]:
def sertifikat(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['sertifikat'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('sertifikat' in x)else 0
    )
    return df_copy

In [18]:
def gym(df):
    df_copy = df.copy()
    df_copy['deskripsi'] = df_copy['deskripsi'].apply(lambda x:str(x).lower())
    df_copy['gym'] = df_copy['deskripsi'].apply(
        lambda x:1 if ('gym' in x) else 0
    )
    return df_copy

In [19]:
#garasi, apartemen, taman, pool, shm, imb, hgb, sertifikat, gym

In [20]:
temp = garasi(df)

In [21]:
temp['ada_garasi'].sum()

13839

In [22]:
temp = hgb(temp)

In [23]:
temp['hgb'].sum()

997

In [24]:
temp = apartemen(temp)

In [25]:
temp['apartemen'].sum()

1239

In [26]:
temp = taman(temp)

In [27]:
temp['taman'].sum()

2362

In [28]:
temp = pool(temp)

In [29]:
temp['pool'].sum()

1649

In [30]:
temp = shm(temp)

In [31]:
temp['shm'].sum()

6242

In [32]:
temp = imb(temp)

In [33]:
temp['imb'].sum()

1987

In [34]:
temp = sertifikat(temp)

In [35]:
temp['sertifikat'].sum()

2034

In [36]:
temp = gym(temp)

In [37]:
temp['gym'].sum()

304

In [38]:
temp['tipe_properti'] = np.where(temp['apartemen']==0,'Apartemen','Rumah')

In [39]:
temp['kamar'] = temp['maidrooms'].fillna(0)+temp['bedrooms']

In [40]:
temp['kamar_mandi'] = temp['maidbathrooms'].fillna(0)+temp['bathrooms']

In [41]:
temp['sertifikat'] = np.where(temp['sertifikat'] == 1, 1,
                             np.where(temp['shm'] == 1, 1,
                                     np.where(temp['imb'] == 1, 1,
                                             np.where(temp['hgb'] == 1, 1,0))))

In [42]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13844 entries, 0 to 15824
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         13844 non-null  float64
 1   bedrooms          13844 non-null  float64
 2   building_size     13844 non-null  float64
 3   deskripsi         13844 non-null  object
 4   fasilitas         13844 non-null  object
 5   land_size         13842 non-null  float64
 6   lb                13129 non-null  float64
 7   lokasi            13475 non-null  object
 8   lt                10576 non-null  float64
 9   price             13833 non-null  float64
 10  car_spaces        13844 non-null  float64
 11  floors_total      13836 non-null  float64
 12  price_conditions  13652 non-null  object
 13  year_built        13693 non-null  float64
 14  empty             13649 non-null  object
 15  rooms_total       13803 non-null  float64
 16  maidbathrooms     13753 non-null  float64
 17  maidrooms         13801 non-null  float64
 18  floor             12991 non-null  object
 19  deposit           10465 non-null  float64
 20  electricity       13394 non-null  float64
 21  terdekat          2733 non-null   object
 22  ada_garasi        13844 non-null  int64
 23  hgb               13844 non-null  int64
 24  apartemen         13844 non-null  int64
 25  taman             13844 non-null  int64
 26  pool              13844 non-null  int64
 27  shm               13844 non-null  int64
 28  imb               13844 non-null  int64
 29  sertifikat        13844 non-null  int64
 30  gym               13844 non-null  int64
 31  tipe_properti     13844 non-null  object
 32  kamar             13844 non-null  float64
 33  kamar_mandi       13844 non-null  float64
dtypes: float64(17), int64(9), object(8)
memory usage: 3.7+ MB

In [43]:
temp['sertifikat']

0        1
1        0
2        1
3        1
4        1
        ..
15820    0
15821    0
15822    1
15823    0
15824    0
Name: sertifikat, Length: 13844, dtype: int64

In [44]:
temp

       bathrooms  bedrooms  building_size  ... tipe_properti kamar  kamar_mandi
0            3.0       3.0          240.0  ...     Apartemen   3.0          3.0
1            6.0       6.0         2700.0  ...     Apartemen   6.0          6.0
2            6.0       6.0         2700.0  ...     Apartemen   6.0          6.0
3            6.0       6.0         2700.0  ...     Apartemen   6.0          6.0
4            6.0       6.0         2700.0  ...     Apartemen   6.0          6.0
...          ...       ...            ...  ...           ...   ...          ...
15820        3.0       4.0          545.0  ...         Rumah   5.0          4.0
15821        3.0       4.0          280.0  ...     Apartemen   5.0          4.0
15822        2.0       3.0           80.0  ...     Apartemen   4.0          3.0
15823        2.0       3.0          136.0  ...     Apartemen   4.0          3.0
15824        1.0       2.0           88.0  ...         Rumah   3.0          2.0

[13844 rows x 34 columns]

In [45]:
kecamatan={
'Cempaka Putih' : ['Cempaka Putih Barat','Cempaka Putih Timur', 'Rawasari','Rawa Sari'],
'Gambir' : ['Cideng','Duri Pulo', 'Gambir', 'Kebon Kelapa', 'Petojo Selatan', 'Petojo Utara',
           'Roxy','Petojo'],
'Johar Baru' : ['Galur', 'Johar Baru', 'Kampung Rawa', 'Tanah Tinggi'],
'Kemayoran' : ['Cempaka Baru', 'Gunung Sahari Selatan', 'Harapan Mulya', 'Kebon Kosong',
               'Kemayoran', 'Serdang', 'Sumur Batu', 'Utan Panjang'],
'Menteng' : ['Cikini', 'Gondangdia', 'Kebon Sirih', 'Menteng', 'Pegangsaan'],
'Sawah Besar': ['Gunung Sahari Utara', 'Karang Anyar', 'Kartini', 'Kampung Anyar',
                'Mangga Dua Selatan', 'Pasar Baru', 'Gunung Sahari'],
'Senen' : ['Bungur', 'Kenari', 'Kramat', 'Kwitang', 'Paseban', 'Senen'],
'Tanah Abang' : ['Bendungan Hilir', 'Gelora', 'Kampung Bali', 'Karet Tengsin', 
                 'Kebon Kacang', 'Kebon Melati', 'Petamburan', 'KH Mas Mansyur',
                'Kebon Kacang Lama'],
'Cilincing' : ['Cilincing', 'Kalibaru', 'Marunda', 'Rorotan','Suka Pura', 'Semper',
                'Semper Barat', 'Semper Timur', 'Sukapura'],
'Kelapa Gading' : ['Kelapa Gading Barat', 'Kelapa Gading Timur', 'Pegangsaan Dua'],
'Koja' : ['Koja', 'Lagoa', 'Rawa Badak Selatan', 'Rawa Badak Utara','Tugu',
          'Tugu Selatan', 'Tugu Utara','Rawabadak Selatan'],
'Pademangan' : ['Ancol', 'Pademangan Barat', 'Pademangan Timur'],
'Penjaringan' : ['Kamal Muara', 'Kapuk Muara', 'Pejagalan', 'Penjaringan', 'Pluit',
                'Pantai Indah Kapuk','Bandengan','Teluk Gong','Muara Karang'],
'Tanjung Priok' : ['Kebon Bawang', 'Papanggo', 'Sungai Bambu', 'Sunter Agung', 'Sunter',
                    'Sunter Jaya', 'Tanjung Priok', 'Warakas'],
'Cakung' : ['Cakung Barat', 'Cakung Timur', 'Jatinegara', 'Penggilingan', 
            'Pulo Gebang', 'Rawa Terate', 'Ujung Menteng'],
'Cipayung' : ['Bambu Apus', 'Ceger', 'Cilangkap', 'Cipayung', 'Lubang Buaya',
              'Munjul', 'Pondok Ranggon', 'Setu'],
'Ciracas' : ['Cibubur', 'Ciracas', 'Kelapa Dua Wetan', 'Rambutan Susukan','Kampung Rambutan'],
'Duren Sawit' : ['Duren Sawit', 'Klender', 'Malaka Jaya', 'Malaka Sari', 
                 'Pondok Bambu', 'Pondok Kelapa', 'Pondok Kopi'],
'Jatinegara' :['Bali Mester', 'Bidara Cina', 'Cipinang Besar Selatan', 'Cipinang Besar Utara', 
                'Cipinang Cempedak', 'Cipinang Muara', 'Kampung Melayu', 'Rawa Bunga'],
'Kramat Jati': ['Balekambang', 'Batu Ampar', 'Cawang', 'Cililitan',
                'Dukuh', 'Kramat Jati', 'Tengah', 'Condet'],
'Makasar' : ['Cipinang Melayu', 'Halim Perdana Kusuma', 'Kebon Pala', 'Makasar', 
             'Pinang Ranti','Halim Perdana Kusumah'],
'Matraman' : ['Kayu Manis', 'Kebon Manggis', 'Pal Meriam', 'Pisangan Baru', 
              'Utan Kayu Selatan', 'Utan Kayu Utara','Utan Kayu'],
'Pasar Rebo' : ['Baru', 'Cijantung', 'Gedong', 'Kalisari', 'Pekayon'],
'Pulo Gadung' : ['Cipinang', 'Jati', 'Jatinegara Kaum', 'Kayu Putih', 
                  'Pisangan Timur', 'Pulo Gadung', 'Rawamangun'],
'Cilandak' : ['Cilandak Barat', 'Cipete Selatan', 'Gandaria Selatan', 'TB Simatupang', 'Cipete',
              'Lebak Bulus', 'Pondok Labu', 'Fatmawati'],
'Jagakarsa' :  ['Ciganjur', 'Cipedak', 'Jagakarsa', 'Lenteng Agung', 
                'Srengseng Sawah', 'Tanjung Barat'],
'Kebayoran Baru' : ['Cipete Utara', 'Gandaria Utara', 'Gunung', 'Kramat Pela', 'Radio Dalam',
                    'Melawai', 'Petogogan', 'Pulo', 'Rawa Barat', 'Selong', 'Senayan',
                   'Antasari','Panglima Polim','Gandaria'],
'Kebayoran Lama' : ['Cipulir', 'Grogol Selatan', 'Grogol Utara', 'Tanah Kusir', 'Permata Hijau',
                    'Kebayoran Lama Selatan', 'Kebayoran Lama Utara', 'Pondok Pinang',
                   'Pondok Indah'],
'Mampang Prapatan' : ['Bangka', 'Kuningan Barat', 'Mampang Prapatan','Kemang',
                      'Pela Mampang', 'Tegal Parang','Warung Buncit'],
'Pancoran' : ['Cikoko', 'Duren Tiga', 'Kalibata', 'Pancoran', 'Pengadegan', 'Rawajati'],
'Pasar Minggu' : ['Cilandak Timur', 'Jati Padang', 'Kebagusan', 'Pejaten', 'Ampera',
                  'Pasar Minggu', 'Pejaten Barat', 'Pejaten Timur', 'Ragunan'],
'Pesanggrahan' : ['Bintaro', 'Pesanggrahan', 'Petukangan Selatan', 'Petukangan',
                  'Petukangan Utara', 'Ulujami'],
'Setiabudi' : ['Guntur', 'Karet Kuningan', 'Karet Semanggi', 'Karet', 'Kuningan Timur',
               'Menteng Atas', 'Pasar Manggis', 'Setiabudi','Kuningan','SetiaBudi'],
'Tebet' : ['Bukit Duri', 'Kebon Baru', 'Manggarai Selatan', 'Manggarai', 'MT Haryono',
           'Menteng Dalam', 'Tebet Barat', 'Tebet Timur','Casablanca'],
'Cengkareng' : ['Cengkareng Barat', 'Cengkareng Timur', 'Duri Kosambi', 
                'Kapuk', 'Kedaung Kali Angke', 'Rawa Buaya','Daan Mogot'],
'Grogol Petamburan' : ['Grogol', 'Jelambar Baru', 'Jelambar', 'Tanjung Duren Selatan', 
                       'Tanjung Duren Utara', 'Tomang', 'Wijaya Kusuma', 'Tanjung Duren',
                      'Wijaya Kesuma'],
'Taman Sari' : ['Glodok', 'Keagungan', 'Krukut', 'Mangga Besar', 'Maphar','Kota', 
                'Pinangsia', 'Taman Sari', 'Tangki','Hayam Wuruk','Gajah Mada'],
'Tambora' : ['Angke', 'Duri Selatan', 'Duri Utara', 'Jembatan Besi', 'Jembatan Lima',
             'Kali Anyar', 'Krendang', 'Pekojan', 'Roa Malaka', 'Tambora', 'Tanah Sereal'],
'Kebon Jeruk' : ['Duri Kepa', 'Kebon Jeruk', 'Kedoya Selatan', 'Kedoya Utara','Sunrise Garden',
                 'Kelapa Dua', 'Sukabumi Selatan', 'Sukabumi Utara','Pos Pengumben',
                'Kedoya'],
'Kalideres' : ['Kalideres', 'Kamal', 'Pegadungan', 'Semanan', 'Tegal Alur'],
'Palmerah' : ['Jatipulo', 'Kemanggisan', 'Kota Bambu Selatan', 'Kota Bambu','Jati Pulo',
              'Kota Bambu Utara', 'Palmerah', 'Slipi'],
'Kembangan' : ['Joglo', 'Kembangan Selatan', 'Kembangan Utara', 'Puri Indah',
               'Meruya Selatan', 'Meruya Utara', 'Srengseng','Meruya']
}

In [46]:
for i in range(len(temp)):
    for j in kecamatan.keys():
        if temp['lokasi'].iloc[i] in kecamatan[j]:
            temp['lokasi'].iloc[i] = j
            break
temp['lokasi'].nunique()

48

In [51]:
lok = [i for i in temp['lokasi'].unique()]
for i in lok:
    if i not in kecamatan.keys():
        print(i)

nan
Sudirman
Gatot Subroto
Thamrin
Mekar Wangi
Kedungwaringin
Cimahpar

In [47]:
# 'Kedungwaringin' bekasi, 'Cimahpar' bogor 'Mekar Wangi' negeri entah berantah
# 'Sudirman', 'Gatot Subroto' 'Thamrin'

In [48]:
#kamar mandi,kamar, luas bangunan, luas tanah, 
#lokasi, garasi, apartemen, taman, pool,  gym, sertifikat, listrik, lantai

In [50]:
temp[['kamar_mandi','kamar','lb','lt','tipe_properti','price','sertifikat','deskripsi',
     'lokasi','ada_garasi','pool','taman','electricity','floors_total','gym']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13844 entries, 0 to 15824
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   kamar_mandi    13844 non-null  float64
 1   kamar          13844 non-null  float64
 2   lb             13129 non-null  float64
 3   lt             10576 non-null  float64
 4   tipe_properti  13844 non-null  object
 5   price          13833 non-null  float64
 6   sertifikat     13844 non-null  int64
 7   deskripsi      13844 non-null  object
 8   lokasi         13475 non-null  object
 9   ada_garasi     13844 non-null  int64
 10  pool           13844 non-null  int64
 11  taman          13844 non-null  int64
 12  electricity    13394 non-null  float64
 13  floors_total   13836 non-null  float64
 14  gym            13844 non-null  int64
dtypes: float64(7), int64(5), object(3)
memory usage: 1.7+ MB